<!DOCTYPE html>
<html lang="en">

<head>
    <title>For Hire</title>
    <meta charset="utf-8">
    <!-- Link to the jQuery Library -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    
    <!-- Including Font Awesome Icons -->
    <script src="https://use.fontawesome.com/b38c8ed4c7.js"></script>
    
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!-- Compiled and minified Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    
    <!-- Compiled and minified Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>

</head>

<body>

    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">For Hire</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a href="homePage.handlebars">Home</a>
                </li>
                <li>
                    <a href="servicesList.handlebars">Services</a>
                </li>
                <li>
                    <a href="signupForm.handlebars">Signup</a>
                </li>
            </ul>
        </div>
    </nav>


    {{{ body }}}

        {{!-- footer --}}
    <footer class="page-footer">
        <div class="row">
            <div class="col s12 m9">
                <div class="container">
                    Developed by Jacob Nifong, Claire Pate, Gel DeAsis, and Kane Price
                </div>
            </div>

            <div class="col s12 m3">
                <div class="container">
                    © 2018 Copyright
                </div>
            </div>
        </div>
    </footer>
</body>

</html>