
<style>
    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 12px 16px;
        z-index: 1;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
    
</style>

<a href="/homePage">Home</a>



<div class="dropdown">
    <span>Service Sector</span>
    <div class="dropdown-content">
        {{#each category}}
            <p>service: {{service}}</p>
        {{/each}}
    </div>
</div>
<div class="dropdown">
    <span>Industrial Sector</span>
    <div class="dropdown-content">
        {{#each category}}
        <p>service: {{service}}</p>
        {{/each}}
    </div>
</div>

<div class="dropdown">
    <span>Mechanic Sector</span>
    <div class="dropdown-content">
        {{#each category}}
            <p>category: {{service}}</p>
        {{/each}}
    </div>
</div>

<div class="dropdown">
    <span>Construction Sector</span>
    <div class="dropdown-content">
        {{#each category}}
        <p>category: {{this}}</p>
        {{/each}}
    </div>
</div>


   
<div class="row">
        <div class="col s12 m3">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="assets/images/handyman.jpeg">
                </div>
                <div class="card-content">
                    <span id="cardTitle" class="card-title activator grey-text text-darken-4">Handyman
                        <i class="material-icons right">more_vert</i>
                    </span>
                    <!-- <p>
                        <a href="#">This is a link</a>
                    </p> -->
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Avaiable Services:
                        <i class="material-icons right">close</i>
                    </span>
                    <a><button class="waves-effect waves-light btn" id="service1" type="submit" name="action" width="100">Handyman
                        <i class="material-icons right">build</i>
                    </button></a>
                </div>
            </div>
        </div>

        <div class="col s12 m3">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="assets/images/childcare.jpg">
                </div>
                <div class="card-content">
                    <span id="cardTitle" class="card-title activator grey-text text-darken-4">Child Care
                        <i class="material-icons right">more_vert</i>
                    </span>
                    <!-- <p>
                                <a href="#">This is a link</a>
                            </p> -->
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Avaiable Services:
                        <i class="material-icons right">close</i>
                    </span>
                    <a>
                        <button class="waves-effect waves-light btn" id="service1" type="submit" name="action" width="100">Nanny
                            <i class="material-icons right">child_care</i>
                        </button>
                    </a>
                </div>
            </div>
        </div>

        <div class="col s12 m3">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="assets/images/chef.jpeg">
                </div>
                <div class="card-content">
                    <span id="cardTitle" class="card-title activator grey-text text-darken-4">Chef
                        <i class="material-icons right">more_vert</i>
                    </span>
                    <!-- <p>
                                        <a href="#">This is a link</a>
                                    </p> -->
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Avaiable Services:
                        <i class="material-icons right">close</i>
                    </span>
                    <a>
                        <button class="waves-effect waves-light btn" id="service1" type="submit" name="action" width="100">Chef
                            <i class="material-icons right">accessibility</i>
                        </button>
                    </a>
                </div>`
            </div>
        </div>
    </div>


    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
