{{!-- <script src="../assets/css/style.css"></script> --}}

<style>
    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 12px 16px;
        z-index: 1;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
    
</style>

<div class="dropdown">
    <span>Service Sector</span>
    <div class="dropdown-content">
         {{#each test}}
          {{#if service}}
                <p>category: {{this.service}}</p>
            {{/if}}
         {{/each}}
    </div>
</div>

<div class="dropdown">
    <span>Industrial Sector</span>
    <div class="dropdown-content">
        {{#each category}}
        <p>category: {{this}}</p>
        {{/each}}
    </div>
</div>

<div class="dropdown">
    <span>Mechanic Sector</span>
    <div class="dropdown-content">
        {{#each category}}
        <p>category: {{this}}</p>
        {{/each}}
    </div>
</div>

<div class="dropdown">
    <span>Construction Sector</span>
    <div class="dropdown-content">
        {{#each category}}
        <p>category: {{this}}</p>
        {{/each}}
    </div>
</div>


   
