



{{!-- NOTE: IMAGES MUST HAVE SAME SIZES SO THAT IT DOESNT AFFECT THE SIZE OF MATERIALIZE CARDS --}}
{{!-- PLEASE FEEL FREE TO REPLACE DUMMY IMAGE.  JUST KEEP IN MIND SIZES.  I CHOSE 500 X 500 BELOW --}}
=======



<div class="row">

     {{!-- first card --}}
    
        <div class="col s12 m3">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="assets/images/construction.jpg">
                </div>
                <div class="card-content">
                    <span id="cardTitle" class="card-title activator grey-text text-darken-4">Construction
                        <i class="material-icons right">more_vert</i>
                    </span>
                    <!-- <p>
                        <a href="#">This is a link</a>
                    </p> -->
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Available Services:
                        <i class="material-icons right">close</i>
                    </span>
                        
                            <a>
                                <button class="waves-effect waves-light btn" id="service1" type="submit" name="action" width="100"> 
                                    <p>service: 
                                        {{#each category}}

                                            {{category}}
                                            {{!-- {{#unless availability}} 
                                               {{> forHire/forHire-block}} 
                                            {{/unless}} --}}
                                        {{/each}}
                                    </p>
                                </button>
                            </a>
                        
                </div>
            </div>
        </div>
    
        {{!-- second --}}



























        
            <div class="col s12 m3">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="assets/images/child-care.jpg">
                    </div>
                    <div class="card-content">
                        <span id="cardTitle" class="card-title activator grey-text text-darken-4">Service
                            <i class="material-icons right">more_vert</i>
                        </span>
                        <!-- <p>
                                <a href="#">This is a link</a>
                            </p> -->
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Available Services:
                            <i class="material-icons right">close</i>
                        </span>
                        {{#each category}}
                        <a>
                            <button class="waves-effect waves-light btn" id="service1" type="submit" name="action" width="100">
                                <p>Available to Work: {{service}}</p>
                                <i class="material-icons right">build</i>
                            </button>
                        </a>
                    {{/each}}
                </div>
            </div>
        </div>
    
        {{!-- third --}}
        
            <div class="col s12 m3">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="assets/images/mechanic.jpg">
                    </div>
                    <div class="card-content">
                        <span id="cardTitle" class="card-title activator grey-text text-darken-4">Mechanical
                            <i class="material-icons right">more_vert</i>
                        </span>
                        <!-- <p>
                                <a href="#">This is a link</a>
                            </p> -->
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Available Services:
                            <i class="material-icons right">close</i>
                        </span>
                        {{#each category}}
                        <a>
                            <button class="waves-effect waves-light btn" id="service1" type="submit" name="action" width="100">
                                <p>service: {{service}}</p>
                                <i class="material-icons right">build</i>
                            </button>
                        </a>
                    {{/each}}
                </div>
            </div>
        </div>
  
        {{!-- fourth --}}
        
            <div class="col s12 m3">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="assets/images/industrial.jpg">
                    </div>
                    <div class="card-content">
                        <span id="cardTitle" class="card-title activator grey-text text-darken-4">Industrial
                            <i class="material-icons right">more_vert</i>
                        </span>
                        <!-- <p>
                                <a href="#">This is a link</a>
                            </p> -->
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Available Services:
                            <i class="material-icons right">close</i>
                        </span>
                        {{#each category}}
                        <a>
                            <button class="waves-effect waves-light btn" id="service1" type="submit" name="action" width="100">
                                <p>service: {{service}}</p>
                                <i class="material-icons right">build</i>
                            </button>
                        </a>
                    {{/each}}
                </div>
            </div>
        </div>
    
    </div>{{!--row end --}}

    
    {{!-- home button --}}
    <form action="/homePage" method="GET">
        <button class="waves-effect waves-light btn NAVIGATE" id="findHelp" type="submit" name="action" width="100">Home
            <i class="material-icons right">send</i>
        </button>
    </form>

    



