<div class="row">
        <div class="col s12 m3">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="assets/images/handyman.jpeg">
                </div>
                <div class="card-content">
                    <span id="cardTitle" class="card-title activator grey-text text-darken-4">Handyman
                        <i class="material-icons right">more_vert</i>
                    </span>
                    <!-- <p>
                        <a href="#">This is a link</a>
                    </p> -->
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Avaiable Services:
                        <i class="material-icons right">close</i>
                    </span>
                    <a><button class="waves-effect waves-light btn" id="service1" type="submit" name="action" width="100">Handyman
                        <i class="material-icons right">build</i>
                    </button></a>
                </div>
            </div>
        </div>

        <div class="col s12 m3">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="assets/images/childcare.jpg">
                </div>
                <div class="card-content">
                    <span id="cardTitle" class="card-title activator grey-text text-darken-4">Child Care
                        <i class="material-icons right">more_vert</i>
                    </span>
                    <!-- <p>
                                <a href="#">This is a link</a>
                            </p> -->
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Avaiable Services:
                        <i class="material-icons right">close</i>
                    </span>
                    <a>
                        <button class="waves-effect waves-light btn" id="service1" type="submit" name="action" width="100">Nanny
                            <i class="material-icons right">child_care</i>
                        </button>
                    </a>
                </div>
            </div>
        </div>

        <div class="col s12 m3">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="assets/images/chef.jpeg">
                </div>
                <div class="card-content">
                    <span id="cardTitle" class="card-title activator grey-text text-darken-4">Chef
                        <i class="material-icons right">more_vert</i>
                    </span>
                    <!-- <p>
                                        <a href="#">This is a link</a>
                                    </p> -->
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Avaiable Services:
                        <i class="material-icons right">close</i>
                    </span>
                    <a>
                        <button class="waves-effect waves-light btn" id="service1" type="submit" name="action" width="100">Chef
                            <i class="material-icons right">accessibility</i>
                        </button>
                    </a>
                </div>`
            </div>
        </div>
    </div>


    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>