


{{!-- some header --}}
<div class="collection">
    
        <a href="/workers" class="collection-item">
            {{!-- increment when new serice is available --}}
            <span class="new badge">4</span>
            <h1>FOR HIRE</h1>
        </a>
    
</div>

{{!-- navigational buttons --}}


<form action="/category" method="GET">
    <button class="waves-effect waves-light btn NAVIGATE" id="findHelp" type="submit" name="action" width="100">Find Help
        <i class="material-icons right">send</i>
    </button>
</form> 

<form action="/forHireForm" method="GET">
    <button class="waves-effect waves-light btn NAVIGATE" id="findHelp" type="submit" name="action" width="100">Sign up to Help
        <i class="material-icons right">send</i>
    </button>
</form>


{{!-- some container for body content --}}

<div class="parallax-container">
    <div class="parallax">
        <img src="assets/images/hero.jpeg">
    </div>
</div>
<div class="section white">
    <div class="row container">
        <h2 class="header">Parallax</h2>
        <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the
            foreground content while scrolling.</p>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax">
        <img src="assets/images/hero.jpeg">
    </div>
</div> 





