
<!-- {{!-- some container for body content --}} -->

<div class="container">
    <img id="collage" src="assets/images/collage.jpeg" alt="collage" style="width:100%;">
    <div class="bottom-left">
        <form action="/servicesList" method="GET">
            <button class="waves-effect waves-light btn NAVIGATE" id="find-help" type="submit" name="services-list-button" width="100">Find Help
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
    <div class="top-left">
        <form action="/signupForm" method="GET">
            <button class="waves-effect waves-light btn NAVIGATE" id="signup" type="submit" name="sign-up-button" width="100">Sign up to Help
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>

</div>


<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>





