



{{!-- NOTE: IMAGES MUST HAVE SAME SIZES SO THAT IT DOESNT AFFECT THE SIZE OF MATERIALIZE CARDS --}}
{{!-- PLEASE FEEL FREE TO REPLACE DUMMY IMAGE.  JUST KEEP IN MIND SIZES.  I CHOSE 500 X 500 BELOW --}}
=======



 <div class="row">
    
        {{!-- first card --}}
    
        <div class="col s12 m3">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="assets/images/handyman.jpeg">
                </div>
                <div class="card-content">
                    <span id="culinary" class="card-title activator grey-text text-darken-4">
                        <p><a href="#">Culinary</a></p></span> 
                </div>
            </div>
        </div>
    
        {{!-- second --}} 
    
        <div class="col s12 m3">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="assets/images/handyman.jpeg">
                </div>
                <div class="card-content">
                    <span id="customerSevice" class="card-title activator grey-text text-darken-4">
                        <p><a href="#">Customer Service</a></p></span>
                </div>
            </div>
        </div>
    
        {{!-- third --}} 
    
        <div class="col s12 m3">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="assets/images/handyman.jpeg">
                </div>
                <div class="card-content">
                    <span id="education" class="card-title activator grey-text text-darken-4">
                        <p><a href="#">Education</a></p></span>
                </div>
            </div>
        </div>
    </div>
    
    {{!--row end --}}
    {{!-- second row --}} 
    
    <div class="row">
        
        {{!-- first card --}}
        
        <div class="col s12 m3">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="assets/images/handyman.jpeg">
                </div>
                <div class="card-content">
                    <span id="finances" class="card-title activator grey-text text-darken-4"><p>
                        <a href="#">Finances</a></p></span>
                </div>
            </div>
        </div>
        
        {{!-- second --}}
        
        <div class="col s12 m3">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="assets/images/handyman.jpeg">
                </div>
                <div class="card-content">
                    <span id="handyWork" class="card-title activator grey-text text-darken-4"><p>
                        <a href="#">Handy Work</a></p></span>
                </div>
            </div>
        </div>
        
        {{!-- third --}} 

        <div class="col s12 m3">
            <div class="card">
                 <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="assets/images/handyman.jpeg">
                </div>
                <div class="card-content">
                    <span id="legal" class="card-title activator grey-text text-darken-4"><p>
                        <a href="#">Legal</a></p></span>
                </div>
            </div>
        </div>
    </div>

    {{!--row end --}}
    {{!-- third row --}} 
    
    <div class="row">
    
        {{!-- first card --}}
    
        <div class="col s12 m3">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="assets/images/handyman.jpeg">
                </div>
                <div class="card-content">
                    <span id="media" class="card-title activator grey-text text-darken-4"><p>
                        <a href="#">Media</a></p></span>
                </div>
            </div>
        </div>
    
       {{!-- second --}} 
    
        <div class="col s12 m3">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="assets/images/handyman.jpeg">
                </div>
                <div class="card-content">
                    <span id="realEstate" class="card-title activator grey-text text-darken-4"><p>
                        <a href="#">Real Estate</a></p></span>
                </div>
            </div>
        </div>
    
        {{!-- third --}}
    
        <div class="col s12 m3">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="assets/images/handyman.jpeg">
                </div>
                <div class="card-content">
                    <span id="technology" class="card-title activator grey-text text-darken-4"><p>
                        <a href="#">Technology</a></p></span>
                </div>
            </div>
        </div>
    </div>

    {{!--row end --}} {{!-- home button --}}

    <form action="/homePage" method="GET">
        <button class="waves-effect waves-light btn NAVIGATE" id="findHelp" type="submit" name="action" width="100">Home
            <i class="material-icons right">send</i>
        </button>
    </form>
    
    
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>