
span {
    background-repeat: no-repeat;
    padding: 0;
    margin: 25px;
}   
.parallax-container {
      height: "your height here";
    }

 /* body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  } */


/* navigation buttons */
#findHelp {
    height: 44px;
    color: white
}
/* customize this alert */
span.badge.new:after {
    content: " NEW helper!";
}
span.badge.new {
    font-weight: 300;
    font-size: 0.8rem;
    color: #fff;
    background-color: hsl(0, 80%, 43%);
    border-radius: 2px;
}

.developed-by {
    margin-top: 0px;
    margin-bottom: 0px;
}

.page-title {
    font-size: 72px;
}

.top-nav {
    height: 110px;
}