/* Homepage*/ 

/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}

/* Top left text */
.top-left {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.container{
    width: 100%;
}

#collage{
    opacity: .7;
}








span {
    background-repeat: no-repeat;
    padding: 0;
    margin: 25px;
}   


/* body {

    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }



/* customize this alert */
span.badge.new:after {
    content: " NEW helper!";
}
span.badge.new {
    font-weight: 300;
    font-size: 0.8rem;
    color: #fff;
    background-color: hsl(0, 80%, 43%);
    border-radius: 2px;
}

/*Footer*/
.developed-by {
    margin-top: 0px;
    margin-bottom: 0px;
}


.page-title {
    font-size: 72px;
}

.top-nav {
    height: 110px;
}

